@model DataContracts.Eventos

<html>
<head>
    <title>PROMETHEUS GYM</title>
    <meta charset="UTF-8">
    <meta name="title" content="PROMETHEUS MUSCLE FIT GYM">
    <meta name="description" content="Descripción de la WEB">
    <link href="~/Content/estilosBody.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Scripts/misScripts.js"></script>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div style="margin-top: 20px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <div>
                <h2>@Html.DisplayFor(model => model.nombre)</h2>
                <hr />
                <dl class="dl-horizontal">
                    <h3>
                        <dt>
                            @Html.DisplayNameFor(model => model.nombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.nombre)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.fechaPublicacion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.fechaPublicacion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.costo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.costo)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.descripcion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.descripcion)
                        </dd>
                    </h3>
                </dl>
            </div>


            <hr /> <br /> <br />

            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <a class="btn btn-warning btn-block" href="javascript:history.back()"> Volver atras</a>
                </div>
            </div>


            @using (Html.BeginForm("eventosComentar", "Publicar", FormMethod.Post, new { @class = "form summer" }))
            {
                @Html.AntiForgeryToken()
                <div class="commentBox">
                    <div class="wrapper">
                        <div class="commentBoxfloat">
                            <form id="cmnt">
                                <fieldset>
                                    <div class="form_grp">
                                        <label>Comentar</label>
                                        <textarea id="userCmnt" name="coment" placeholder="Escribir comentario"></textarea> <br /><br />
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <button name="adduser" type="submit" class="btn btn-warning btn-block" id="contact-submit">Comentar</button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            }

        <div>
            <table class="table table-striped custab" style="min-width: 100px !important;">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Mensaje</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                @foreach (var comentario in ViewBag.Comentarios)
                {
                    <tr>
                        <td>@comentario.usuario</td>
                        <td>@comentario.mensaje</td>
                        <td>@comentario.fecha</td>
                    </tr>
                }

            </table>
        </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</body>
</html>



