@model IEnumerable<DataContracts.Eventos>

    <html>
    <head>
        <title>PROMETHEUS GYM</title>
        <meta charset="UTF-8">
        <meta name="title" content="PROMETHEUS MUSCLE FIT GYM">
        <meta name="description" content="Descripción de la WEB">
        <link href="~/Content/estilosBody.css" rel="stylesheet" />
        <link href="~/Content/main.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="~/Scripts/SweerAlert/sweetalert2.min.css" />
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div style="margin-top: 50px;">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="container">
                    <h2>Mantenimiento de eventos</h2><br /><br />
                    <table class="table table-striped custab">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.nombre)</th>
                                <th>@Html.DisplayNameFor(model => model.fechaRealizacion)</th>
                                <th>@Html.DisplayNameFor(model => model.fechaPublicacion)</th>
                                <th class="text-center">Acción</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr id="datosId">
                                <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                                <td>@Html.FormatValue("dd-MM-yyyy", item.fechaRealizacion.ToString("dd-MM-yyyy"))</td>
                                <td>@Html.FormatValue("dd-MM-yyyy", item.fechaPublicacion.ToString("dd-MM-yyyy"))</td>
                                <td class="text-center"><a class='btn btn-info btn-xs' href="@Url.Action("modificarEvento", "Publicar", new { id = item.ID })" style="margin-right:3px;"><span class="glyphicon glyphicon-edit"></span> Modificar</a><a href="@Url.Action("eventosComentar", "Publicar", new { id = item.ID })" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-comment"></span> Comentar</a> <a href="@Url.Action("borrarEvento", "Publicar", new { id = item.ID })" id="eliminar" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
                            </tr>
                        }

                    </table>
                    <div class="pagination">
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">Next</a></li>
                    </div>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-2">
                    <a class="btn btn-info" href="@Url.Action("agregarEvento", "Publicar")"> Agregar nuevo evento</a>
                </div>
                <div class="col-lg-4"></div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </body>
    <script src="~/Scripts/SweerAlert/sweetalert2.min.js"></script>
    <script src="~/Scripts/esm/popper.js"></script>
    <script src="~/Scripts/misScripts.js"></script>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/tilt.jquery.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script>
        $(function () {
            $("#datosId").submit(function () {
                var borrar = $.trim($("#id").val());
                var url = "@Url.Action("borrarEvento","Publicar")";
                var data = { borrar: borrar };

                if (borrar.length == false) {
                    Swal.fire({
                        type: "error",
                        title: "Debe llenar todos los espacios"
                    });
                    return false;
                }
                else {
                    $.post(url, data).done(function (data) {
                        $.ajax({
                            type: 'POST',
                            datatype: 'json',
                            data: { borrar: borrar },
                            success: function (data) {
                                Swal.fire({
                                    title: 'Estas seguro?',
                                    text: "Se eliminará permanentemente!",
                                    type: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Si, Deseo eliminarlo!'
                                }).then((result) => {
                                    if (result.value) {
                                        Swal.fire(
                                            'Eliminado!',
                                            'Los datos han sido eliminados.',
                                            'success',
                                            window.location.href = "@Url.Action("eventoMantenimiento","Publicar")"
                                        );
                                    }
                                });
                            }

                        });
                    });
                }
            });
        });
        
    </script>
    </html>