@model DataContracts.PagosRealizados
<html>
<head>
    <title>PROMETHEUS GYM</title>
    <meta charset="UTF-8">
    <meta name="title" content="PROMETHEUS MUSCLE FIT GYM">
    <meta name="description" content="Descripción de la WEB">
    <link href="~/Content/estilosBody.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Scripts/misScripts.js"></script>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container" style="margin-top:50px;">
        <form class="form-horizontal" action=" " method="post" id="contact_form">
            <fieldset>
                <!-- Form Name -->
                <class style="text-align:center;">
                    @using (Html.BeginForm("modificarPago", "Pagos", FormMethod.Post, new { @class = "form" }))
                    {
                        <h2>Actualizar pago</h2><br />

                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Monto</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    @Html.EditorFor(model => model.monto, new { htmlAttributes = new { @class = "form-control", @style = "", @required = "required;", @type = "text" } })
                                </div>
                            </div>
                        </div>


                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Fecha</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control", @style = "", @required = "required;", @type = "date" } })
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Monto con descuento</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    @Html.EditorFor(model => model.montoDescuento, new { htmlAttributes = new { @class = "form-control", @style = "", @required = "required;", @type = "number" } })
                                </div>
                            </div>
                        </div>


                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Descuento</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    @Html.DropDownListFor(model => model.descuento, (IEnumerable<SelectListItem>)ViewBag.OpcionDescuento, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">ID usuario</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    @Html.EditorFor(model => model.IDUsuario, new { htmlAttributes = new { @class = "form-control", @style = "", @required = "required;", @type = "text" } })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-4">
                                <button name="adduser" type="submit" class="btn btn-warning btn-block" id="contact-submit">Actualizar Pago</button>
                            </div>
                        </div>
                    }
                </class>
            </fieldset>
        </form>
    </div>
</body>
</html>