@model IEnumerable<DataContracts.Usuarios>

<html>
<head>
    <title>PROMETHEUS GYM</title>
    <meta charset="UTF-8">
    <meta name="title" content="PROMETHEUS MUSCLE FIT GYM">
    <meta name="description" content="Descripción de la WEB">
    <link href="~/Content/estilosBody.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Scripts/misScripts.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.js"></script>
    <style type="text/css">
        #summernote {
            height: 300px !important;
        }
    </style>
</head>
<body>
    <div style="margin-top: 50px;">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="container">
                <h2>Mensajes de texto</h2><br /><br />
                <table class="table table-striped custab">
                    <thead>
                        <tr>
                            <th>Seleccionar</th>
                            <th>@Html.DisplayNameFor(model => model.cedula)</th>
                            <th>@Html.DisplayNameFor(model => model.nombre)</th>
                            <th>@Html.DisplayNameFor(model => model.apellido1)</th>
                            <th>@Html.DisplayNameFor(model => model.fechaIngreso)</th>
                            <th>@Html.DisplayNameFor(model => model.telefono1)</th>
                            <th>@Html.DisplayNameFor(model => model.correo)</th>
                            <th>Estado pago</th>
                            <th>@Html.DisplayNameFor(model => model.habilitado)</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                <tr>
                    <td>
                        <input type="checkbox" name="seleccionar">
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.cedula)</td>
                    <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.apellido1)</td>
                    <td>@Html.DisplayFor(modelItem => item.fechaIngreso)</td>
                    <td>@Html.DisplayFor(modelItem => item.telefono1)</td>
                    <td>@Html.DisplayFor(modelItem => item.correo)</td>
                    <td>ForEach</td>
                    <td>@Html.DisplayFor(modelItem => item.habilitado)</td>
                    <td><a><input type="checkbox" name="habilitar"> Marcar como pagado</a></td>
                </tr>
                    }
                </table>
                <div class="pagination">
                    <li><a href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">Next</a></li>
                </div><br /><br />
                <form method="post" class="summer" style="height:250px;">
                    <textarea id="summernote" name="editordata" style="resize:none;"></textarea><br /><br />
                    <a class="btn btn-info" href="#"> Enviar mensaje de texto</a>
                    <a class="btn btn-info" href="#"> Descargar reporte</a>
                </form><br /><br />
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</body>
</html>
<script>
    $('#summernote').summernote();
</script>