@model IEnumerable<DataContracts.Rutinas>


<!DOCTYPE html>
<html>
<head>
    <title>PROMETHEUS GYM</title>
    <meta charset="UTF-8">
    <meta name="title" content="PROMETHEUS MUSCLE FIT GYM">
    <meta name="description" content="Descripción de la WEB">
    <link href="~/Content/estilosBody.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/SweerAlert/sweetalert2.min.css" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div style="margin-top: 50px;">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="container">

                <h2 style="color:#EA710B;">Mantenimiento de rutinas</h2>
                <a class="btn btn-info" href="@Url.Action("agregraRutina", "Rutinas")"> Agregar</a>
                <div style="width:100%; overflow:auto">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.nombre)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nombre)
                                </td>
                                <td>
                                    <a class="btn btn-info" href="@Url.Action("modificarRutina", "Rutinas" ,new { id=item.ID})"> Modificar</a>
                                    <a class="btn btn-info" href="@Url.Action("eliminarRutina", "Rutinas",new { id=item.ID})"> Eliminar</a>
                                    <a class="btn btn-info" href="@Url.Action("agregarEjerciciosRutina", "Rutinas",new { id=item.ID})"> Agregar Ejercicios</a>
                                    <a class="btn btn-info" href="@Url.Action("detalleRutina", "Rutinas",new { id=item.ID})"> Detalles</a>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
                <p>
                    @Html.ActionLink("Create New", "Agregar")
                </p>

            </div>
        </div>
    </div>

</body>
</html>



