@model DataContracts.Notificaciones

@{
    ViewBag.Title = "AgregarNotificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>PROMETHEUS GYM</title>
    <meta charset="UTF-8">
    <meta name="title" content="PROMETHEUS MUSCLE FIT GYM">
    <meta name="description" content="Descripción de la WEB">
    <link href="~/Content/estilosBody.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/SweerAlert/sweetalert2.min.css" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div style="margin-top: 50px;">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="container">
                <h2>Agregar Notificaciones</h2>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.titulo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.mensaje, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.mensaje, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.mensaje, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input class="btn btn-warning btn-block" type="submit" value="Crear" />
                    </div>
                </div>

            </div>
                }
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <a class="btn btn-warning btn-block" href="javascript:history.back()"> Volver atras</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>




