@model IEnumerable<DataContracts.Usuarios>

<html>
<head>
    <title>PROMETHEUS GYM</title>
    <meta charset="UTF-8">
    <meta name="title" content="PROMETHEUS MUSCLE FIT GYM">
    <meta name="description" content="Descripción de la WEB">
    <link href="~/Content/estilosBody.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Scripts/misScripts.js"></script>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div style="margin-top: 50px;">
        <div class="col-lg-1"></div>
        <div class="col-lg-12">
            <div class="container">
                <h2>Mantenimiento de usuarios</h2><br /><br />
                <table class="table table-striped custab">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.cedula)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.apellido1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.correo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.contrasena)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tipo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.telefono1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.habilitado)
                            </th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.apellido1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.correo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.contrasena)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.telefono1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.habilitado)
                    </td>
                    <td class="text-center col-lg-12"><a class='btn btn-info btn-xs' href="@Url.Action("modificarCliente", "Seguridad", new { id = item.ID })" style="margin-right:3px;"><span class="glyphicon glyphicon-edit"></span> Modificar</a></td>
                </tr>
                }

                </table>
                <div class="pagination">
                    <li><a href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">Next</a></li>
                </div>
            </div>
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <a class="btn btn-info" href="@Url.Action("agregarCliente", "Seguridad")"> Agregar nuevo usuario</a>
                <a class="btn btn-info" href="@Url.Action("solicitudCliente", "Seguridad")"> Solicitudes clientes</a>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</body>
</html>