@model IEnumerable<DataContracts.Usuarios>

<html>
<head>
    <title>PROMETHEUS GYM</title>
    <meta charset="UTF-8">
    <meta name="title" content="PROMETHEUS MUSCLE FIT GYM">
    <meta name="description" content="Descripción de la WEB">
    <link href="~/Content/estilosBody.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Scripts/misScripts.js"></script>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div style="margin-top: 50px;">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="container">
                <h2>Solicitud cliente</h2><br /><br />
                <table class="table table-striped custab">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.cedula)</th>
                            <th>@Html.DisplayNameFor(model => model.nombre)</th>
                            <th>@Html.DisplayNameFor(model => model.apellido1)</th>
                            <th>@Html.DisplayNameFor(model => model.correo)</th>
                            <th>@Html.DisplayNameFor(model => model.sexo)</th>
                            <th>@Html.DisplayNameFor(model => model.telefono1)</th>
                            <th>@Html.DisplayNameFor(model => model.ocupacion)</th>
                            <th>@Html.DisplayNameFor(model => model.estadoCivil)</th>
                            <th class="text-center">Acción</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.cedula)</td>
                            <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                            <td>@Html.DisplayFor(modelItem => item.apellido1)</td>
                            <td>@Html.DisplayFor(modelItem => item.correo)</td>
                            <td>@Html.DisplayFor(modelItem => item.sexo)</td>
                            <td>@Html.DisplayFor(modelItem => item.telefono1)</td>
                            <td>@Html.DisplayFor(modelItem => item.ocupacion)</td>
                            <td>@Html.DisplayFor(modelItem => item.estadoCivil)</td>
                        <td class="text-center"><a class='btn btn-info btn-xs' href="http://localhost:51865/Seguridad/modificarCliente"><span class="glyphicon glyphicon-check"></span> Aceptar</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Rechazar</a></td>
                    </tr>
                    }
                    

                </table>
                <div class="pagination">
                    <li><a href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">Next</a></li>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</body>
</html>